<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Registration</title>
</head>
<body>
    <h1>メールアドレス登録</h1>
    <form method="POST" action="/email">
        <input type="email" name="email" placeholder="メールアドレス入力" required>
        <button type="submit">登録</button>
    </form>
    <h2>登録しているメールアドレス</h2>
    <ul>
        {% for email in emails %}
        <li>{{ email.address }}</li>
        {% endfor %}
    </ul>
    <h1>送信グループ作成</h1>
    <form method="POST" action="/group">
        <input name="group" placeholder="送信グループ" required>
        <button type="submit">登録</button>
    </form>
    <ul>
        {% for group in groups %}
        <li>{{ group.name }}</li>
        {% endfor %}
    </ul>

    <a href="/delete">メールアドレス消去ページへ</a>
    <h1>グループにメールアドレス入力</h1>
    <form method="POST" action="/input_email_group">
        {% for group in groups %}
        <div>
            <label for="group_{{ group.id }}">{{ group.name }}</label>
            <input type="radio" id="group_{{ group.id }}" name="selected_group" value="{{ group.name }}">
        </div>
        {% endfor %}
        {% for email  in emails %}
        <div>
            <label for="email_{{ emails.id }}">{{ email.address }}</label>
            <input type="checkbox" id="email_{{ email.id }}" name="selected_email" value="{{ email.address }}">
        </div>
        {% endfor %}
        <button type="submit">登録</button>
        <!-- {% for sendGroup  in sendGroups %}
        <div>
            <label for="email_{{ sendGroup.id }}">{{ sendGroup.address }}</label>
            <input type="checkbox" id="email_{{ email.id }}" name="selected_email" value="{{ email.address }}">
        </div>
        {% endfor %} -->
	</form>
    <h1>メール送信</h1>
    {% for group  in groups %}
        <div>
            <label for="email_{{ group.id }}">{{ group.name }}</label>
            <input type="radio" id="email_{{ group.id }}" name="send_email" value="{{ group.name }}">
        </div>
    {% endfor %}
    <form method="POST" action="/send_email">
        <input name="group" placeholder="送信グループ" required>
        <button type="submit">登録</button>
    </form>
</body>
</html>
